.dq-settings-page {
  --dq-settings-page-gap: 5rem;
}

@media (max-width: 575.98px) {
  .dq-settings-page {
    --dq-settings-page-gap: 2rem;
  }
}

@media (min-width: 576px) and (max-width: 890.98px) {
  .dq-settings-page {
    --dq-settings-page-gap: 3rem;
  }
}

@media (min-width: 891px) and (max-width: 1199.98px) {
  .dq-settings-page {
    --dq-settings-page-gap: 4rem;
  }
}
