@media (max-width: 767.98px) {
  .dq-layout-view__main {
    padding-bottom:
      calc(
        var(--dq-ui-layout-mobile-bottom-nav-offset) +
        var(--dq-ui-layout-block-padding-bottom)
      );
  }
}

.dq-layout-view--page .dq-layout-main {
  min-height: 0;
}

.dq-layout-view--page .dq-layout-main-shell {
  padding-top: calc(var(--dq-layout-header-offset) + 20px);
}
