.dq-ui-storybook__title-column {
  flex: 1 1 320px;
}

.dq-ui-storybook__button-section {
  flex: 1 1 420px;
}

@media (max-width: 991.98px) {
  .dq-ui-storybook__title-column,
  .dq-ui-storybook__button-section {
    flex-basis: 100%;
  }
}
